html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
 }

 body{
 	background-color: #f7f8fa;
 }

 .home-header{

 	text-align: center;
 	width:100%;
 	height: 40px;
 	background-color: #517fa4;
 	line-height:37px;
 	color:white;
 }

.home-header p, .home-header img, .home-header h1{
/*display:inline;*/
	position: absolute;

}

.my-new-list img{
 	display: block;
 	margin: 0 auto;
 	border: 5px solid gray;
 	margin-top: 20px;
 	width: 300px;
 	height: 400px;
 }

.likeBox{
	width: 300px;
	height: 40px;
	border: 1px solid black;
	margin: 0 auto;
}

.comment_display{
	width: 300px;
	height:80px;
	border: 1px solid black;
	margin: 0 auto;
}

.comment_input{
	width: 300px;
	height:40px;
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	font-size: 20px;
}

.likeIcon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: grey;

}

.likeIcon2{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: red;

}
#img_div > img{
	display:inline;
	width: 100px;
	height: 35px;
	margin-left: 20%;
	/*background-color: black;*/
}

#img_div >p {
	margin-left: 80%;

}

.home-header > .title {
	margin-left: 47%;
	font-family: "Grand Hotel", cursive;

}





