html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
 }

body {
	line-height: 20px;
	font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica,sans-serif;
	color: #222;
	height: 100%;
	margin: 0;
	background-color: #f7f8fa;
}

.loginBox{
	margin: 0 auto;
	position: relative;
	text-align: left;
	/*display: table-cell;*/
	vertical-align: middle;
	margin-top: 200px;
	width:400px;
	background-clip: padding-box;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	background: #fdfdfd;
	border: 1px solid #a4baca;
	/*border-radius: 4px 4px 0 0;*/
}

header {
	text-align: center;
	position: relative;
	display: block;
	margin: -1px -1px 1px;
	border-bottom: 1px solid black;
	height: 44px;
	background-color: #517fa4;
	line-height: 40px;
	border-radius: 4px 4px 0 0;
	border: 1px solid #1c5380;
	font-size: 18px;
	font-family: 'Grant Hotel', cursive;
	color: white;
}

.userName, .password{
	display: inline;
}

#user, #pw {
	display:inline;
	width: 65%;
	/*float: left;*/
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 9px 8px 7px;
	line-height: normal;
	margin: 0 auto;
	vertical-align: baseline;
}

form {
	margin: 0 auto;
}

form p {
	margin-bottom: 10px;
}

a {
	-webkit-tap-highlight-color: rgba(63, 114, 155, .3);
}

a, a:visited {
	color: #3f729b;
}

p {
	margin: 0 0 10px;	
}

.fields{
	padding: 25px 30px 20px;
	/*padding-left: 100px;*/
	margin-top: 50px;
	/*height:100%;*/
	/*display:block;*/
	/*margin:0 auto;*/
}



.forgot-pw-login {
	margin-top: 8px;
	overflow: hidden;
	clear: left;
	min-height: 40px;
	padding-top: 5px;
}

.login {
	margin-left: 75px;
	background-color: #6bb38a;
	background-image: -webkit-linear-gradient(top,#6bb38a,#3d8b5f);
	background-position: 50% 50%;
  text-shadow: 0 1px 1px #1e693f;
  color: #fff;
  border-radius: 3px;
  padding: 7px 10px 8px 10px;
  line-height: 1em;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  border: 1px solid #3d8b5f;
  cursor: pointer;

}

.account {
	/*margin-top: 80px;*/
	text-align: center;
}

.need-account {
	font-weight: 700;
	display: block;
	text-align: center;
	padding-top: 20px;
	position: relative;
}

