html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
 }

body {
	line-height: 20px;
}
/*@font-face {
	font-family: Billabong;
	src: url("billabong.ttf");
}
*/
.loginBox{
	margin: 0 auto;
	margin-top: 200px;
	width:450px;
	height:200px;
	/*border: 1px solid black;*/
	/*border-radius: 4px 4px 0 0;*/
}

header {
	text-align: center;
	position: relative;
	display: block;
	margin: -1px -1px 1px;
	border-bottom: 1px solid black;
	height: 44px;
	background-color: #517fa4;
	line-height: 40px;
	border-radius: 4px 4px 0 0;
	border: 1px solid #1c5380;
	font-size: 18px;
	font-family: 'Grant Hotel', cursive;
	color: white;
	/*background: url("https://instagramstatic-a.akamaihd.net/bluebar/660508e/images/branding/new-logo.png") no-repeat 0 0;*/
	/*box-shadow: 0 -1px 0 #06365f inset, 0 1px 0 rgba(255,255,255, .2).inset;*/
}

.userName {
	display:inline;
	text-align: center;	
}

.password {
	display:inline-block;

}

#user {
	/*padding: 11px */
}

.fields{
	/*padding:55px 0 0 83px;*/
	padding-left: 100px;
	margin-top: 50px;
	height:100%;
	/*display:block;*/
	/*margin:0 auto;*/
	background-color: #fdfdfd;
}

.forgot-pw-login {
	/*margin-top: 20px;*/
}

.forgot-pw {

}

.login {
	margin-left: 75px;
}

.account {
	/*margin-top: 80px;*/
	text-align: center;
}