html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
 }

@font-face {
	font-family: Billabong;
	src: url("billabong.ttf");
}

.loginBox{
	margin: 0 auto;
	margin-top: 200px;
	width:450px;
	height:200px;
	border: 1px solid black;
}

header{
	text-align: center;
	border-bottom: 1px solid black;
	height: 40px;
	background-color: #3b729c;
	line-height: 40px;

}

.userName {
	display:inline;
	text-align: center;	
}

.password {
	display:inline-block;

}

.fields{
	/*padding:55px 0 0 83px;*/
	padding-left: 100px;
	margin-top: 50px;
	height:100%;
	/*display:block;*/
	/*margin:0 auto;*/
	background-color: #fdfdfd;
	
}

.forgot-pw-login {
	/*margin-top: 20px;*/
}

.forgot-pw {

}

.login {
	margin-left: 75px;
}

.account {
	/*margin-top: 80px;*/
	text-align: center;
}